# Ignore temporary files and directories
tmp/
build/
dist/
.idea/

# Ignore project-specific files
*project

# Ignore compiled Python files
*.pyc
*$py.class

# Ignore system-specific files
.DS_Store

# Ignore Robot Framework test execution artifacts
log.html
report.html
output.xml

# Ignore log files
*.log

# Ignore virtual environment
venv/
